.container
  .col-sm-5.col-md-6.col-12.pb-4
    .comment.mt-4.text-justify.float-left
      .h4= comment.commenter
      %span= comment.created_at
      %br/
      %p= comment.body
      - if policy(comment).destroy?
        .btn.btn-danger.btn-sm=link_to t('comments.delete_comment'), [comment.article, comment], data: {turbo_method: :delete, turbo_confirm: t('confirmation.confirm?')}
