%p.m-2.p-2 
  %b.m-2.p-1= Comment.human_attribute_name('commenter')
  =comment.commenter
  %br
  %b.m-2.p-1= Comment.model_name.human
  =comment.body
  - if policy(comment).destroy?
    %button.btn.btn-outline-primary=link_to t('comments.delete_comment'), [comment.article, comment], data: {turbo_method: :delete, turbo_confirm: t('confirmation.confirm?')}
