%p.m-2.p-2 
-unless comment.archived?
    %b.m-2.p-1 Commenter:
    =comment.commenter
    %br
    %b.m-2.p-1 Comment:
    =comment.body

%button.btn.btn-outline-primary=link_to "Delete comment", [comment.article, comment], data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
