%p 
-unless comment.archived?
    %b Commenter:
    =comment.commenter
    %br
    %b Comment:
    =comment.body

%p=link_to "Delete comment", [comment.article, comment], data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
