.m-4.p-1.w-25
  .bg-light.p-2
    =simple_form_for [@article, @article.comments.build] do |f|
      =f.input :commenter, autocomplete: current_user.email
      =f.input :body
      =f.input :user_id, :as => :hidden, :input_html => { :value => current_user.id }
      =f.submit t('actions.submit')
      
