%div.m-4.p-1.w-25
  =simple_form_for @article do |f|
    =f.input :title
    =f.input :body
    =f.input :status, collection: Visible::VALID_STATUSES, prompt: :translate
    =f.input :user_id, :as => :hidden, :input_html => { :value => current_user.id }
    =f.button :submit, t('actions.submit'), class: "btn-primary"