%h4= t('articles.new_article')
.m-4.p-1.w-75
  =simple_form_for @article, data: { controller: :modal, action: "turbo:submit-end->modal#close" }, remote: true do |f|
    =f.input :title
    =f.input :body
    =f.input :status, collection: Visible::VALID_STATUSES, prompt: :translate
    =f.input :user_id, :as => :hidden, :input_html => { :value => current_user.id }
    =f.button :submit, t('actions.submit'), class: "btn-primary", id: "submit"
    