%h1 All Articles
%p 
  =Article.public_count 
  public articles
%p
  =Article.private_count 
  private articles
%p
  =Article.archived_count 
  archived articles
%ul
  - @articles.each do |article|
    - unless article.archived? 
      %li=link_to article.title, article

%div
  =link_to "New article", new_article_path
  =link_to "Archived articles", showarchived_articles_path