.container
  %h1
    =t("all_articles")
  %p 
    =Article.public_count 
    =t("public_articles")
  %p
    =Article.private_count 
    =t("private_articles")
  %p
    =Article.archived_count 
    =t("archived_articles")
  %div="There are #{Article.count} articles"
  %ul
    - @articles.each do |article|
      - unless article.archived? 
        %li=link_to article.title, article

%div.container
  =link_to t("new_article"), new_article_path
  =link_to t("archived_articles"), showarchived_articles_path