%h2 Users list
%table.table
  %thead.thead-dark
    %tr
      %th{:scope => "col"} Email
      %th{:scope => "col"} Role
  %tbody
  - @users.each do |user|
    %tr
      %td=link_to user.email, user
      %td=User::ROLES[user.role]