%nav.navbar.navbar-expand-md.navbar-dark.bg-dark.mb-4
  .container-fluid.text-white
    #navbarCollapse.collapse.navbar-collapse.m-2
      %ul.navbar-nav.me-auto.mb-2.mb-md-0
        %li.nav-item
          =link_to t('actions.home'), root_path
        %li.nav-item
          =link_to t('articles.all_articles'), root_path
        %li.nav-item
          =link_to t('articles.archived_articles'), archived_articles_path
        %li.nav-item
          =link_to t('articles.export_articles'), export_articles_path(format: "xlsx")
      %ul.navbar-nav.mb-2.mb-md-0
        - if !current_user
          %li.nav-item
            =link_to t('account.sign_up'), new_user_registration_path
          %li.nav-item
            =link_to t('account.log_in'), new_user_session_path
        - else
          %li.nav-item
            =link_to t('account.log_out'), destroy_user_session_path, method: :delete
        - if I18n.locale == I18n.default_locale
          %li.nav-item
            =link_to t('lang.latvian'), { :locale=>'lv' }
        - else
          %li.nav-item
            =link_to t('lang.english'), { :locale=>'en' }
        -if user_signed_in?
          %li.nav-item= t('hello')
          %li.nav-item= link_to "#{current_user.email}", current_user
