!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Blog
    %meta{content: "width=device-width,initial-scale=1", name: "viewport"}/
    =csrf_meta_tags
    =csp_meta_tag
    =stylesheet_link_tag "application", "data-turbo-track": "reload"
    =javascript_importmap_tags
    %script{:src => "https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"}
    %script{:src => "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"}
  %body
    =render 'layouts/navbar'
    =render 'layouts/notifications'
    =turbo_frame_tag "modal"
    =yield
